@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Lobster&display=swap');


h1, h2, h3, h4, h5, h5 {
    font-family: 'Comfortaa', Sans-Serif;
  }

.cell:not(.page-full):has(.cell-output){
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 1em;
 }