name: Build Docs

on:
    push:
        branches: ["main", "dev"]

jobs:
    build-docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v5
              id: setup-python
              with:
                python-version: "3.11"
            - name: Install Poetry
              uses: snok/install-poetry@v1
              with:
                virtualenvs-create: true
                virtualenvs-in-project: true
                installer-parallel: true
            - name: Load cached venv
              id: cached-poetry-dependencies
              uses: actions/cache@v3
              with:
                path: .venv
                key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}     
            - name: Install dependencies
              if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
              run: poetry install --with docs --no-interaction --no-root
            - name: Install project
              run: poetry install --with docs --no-interaction
            - name: Run quartodoc build
              run: poetry run quartodoc build --config docs/_quarto.yml
            - name: Setup quarto
              uses: quarto-dev/quarto-actions/setup@v2
            - name: Render and publush to gh-pages
              run: |
                git config --global user.email "quarto-github-actions-publish@example.com"
                git config --global user.name "Quarto GHA Workflow Runner"
                poetry run quarto publish gh-pages docs --no-browser